<h3>Wybierz rodzaj</h3>
<select [(ngModel)]="choosenCategory">
    @for (category of categories; track 0) {
        <option>{{category}}</option>
    }
</select>

<h3>Wybrany rodzaj: {{choosenCategory}} </h3>

@for(car of cars; track 0){
    @if (choosenCategory == car.category) {
        <div 
        [class.dostepne]="car.isAvailable"
        [class.niedostepny]="!car.isAvailable">
        <h4>Marka: {{car.brand}}</h4>
        <p>Model: {{car.model}}</p>
        <p>Cena: {{car.price}}</p>
        <p>Kategoria: {{car.category}}</p>
    </div>
    }

}

